div.zaqolovok {
  text-align: justify;
  color: rgb(150,150,150);
  font-size: 13px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 40px;
  margin-top: 22px;
  font-weight: 70;
}
span a{
    background-color: #F9DD00;
    margin-left: 1400px;
    text-decoration: none;
    padding: 20px 30px 20px 30px;
    /* font: 25px; */
    font-weight: bold;
    display: grid;
    place-items: center;
    cursor: pointer;
    color: #323232;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: -57px;
    margin-right: 90px;
}
div.icons {
    /* position: fixed; */
    /* text-align: center; */
    /* display: flex; */
    justify-content: space-between;
    width: 200px;
    display: block;
    padding: inherit;
    margin: auto;

    align-items: center;
  }
   /* 
     top: 0;
    left: 5; 
    width: 10%;
    padding: 20px 100px; 
    display: flex;
    
    text-align: center;
    margin: 0;
    padding: 0;
    box-sizing: border-box; */
  
div img {
    /* display: block; */
    /* margin: auto; */
    background-size: cover;
    background-position: center;
    /* min-height: 100vh; */
    background: no-repeat;
    width: 1566px; 
    padding-left: -15px;
    height: 820px; 
    /* display: flex;
    text-align: center; */
}

h2 {
    font-size: 50px;
    color: #413f3f;
    /* width: 1px; */
    font-weight: 80;
    letter-spacing: -1.5px;
    display: block;
    margin-left: 240px;
    /* font-size: 1.5em; */
    /* margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px; */
    /* font-weight: bold; */
}
h4 img{
    display: block;
    width: 104;
    height: 3;
    margin: 30px 240px;

}
p {
  color: rgb(150,150,150);
  font-size: 18px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  margin-left: 240px;
  margin-top: 22px;
  margin-bottom: 50px;
  font-weight: 70;
}


   